*{
    text-align: center;
    font-family: Verdana;
    font-size: 16px;
    color: white;
}
body{
    background-image: url("https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_1280.png");
}

h1{
    font-size: 48px;
}