@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@600&display=swap');
#container{
    width: 80%;
    margin: 0 auto;
}
#contacto{
    width: 15.5%;
    font-size: 50px;
    position: absolute;
    margin: -5.3%  57%;
    color: white;
    border: 5px solid rgb(122, 0, 0);
    background-color: black;
}
#contacto:hover{
    color: gold;
    border: 4px solid rgb(122, 0, 0);
}
.imagenes{
    width: 30%;
    margin: 1.4%;
}
#titulo{
    margin: left;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 2px solid red;
    width: 57%;
    margin: 1.4%
}
body{
    background-color: lightgrey;
    font-family: 'Edu SA Beginner', cursive;
}
h1{
    padding-bottom: 0.6%;
}